body { 
  background: url(../images/earthscape.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

footer {
  height: 100px;
  background-color: rgba(100,100,100,0.6);
}

nav {
  height: 100px;
  background-color: rgba(100,100,100,0.6);
  margin-bottom: 15px;
}
img.brand { width: 90px; }

footer ul.inline-list, header ul {
  line-height: 100px; 
  margin-bottom: 0; 
}

.body-wrapper {
  min-height: 500px;
}

h1, h2, p {
  color: #ccc;
}
