---
---
@import 'normalize';
@import 'foundation';
@import 'colors';

$brand-color: #5f8cc1;

body {
  background: url(../images/earthscape.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

footer {
  min-height: 100px;
  background-color: rgba(100,100,100,0.6);
  text-align: center;
}

nav {
  height: 100px;
  margin-bottom: 15px;
}
nav img.brand {
  width: 114px;
}
footer ul.inline-list, header ul {
  line-height: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
/*  margin-left: auto;
  margin-right: auto;*/
  width: -webkit-fit-content;
    width: -moz-fit-content;
      width: fit-content;
  a { color: $brand-color; }
}

.body-wrapper {
  min-height: 500px;
}

h1, h2, p {
  color: #ccc;
}

.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 80rem;
}
