<!doctype html>
<html>
<head>
  <title>The Space Party</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="/static/images/favicon.png" type="image/x-icon" />
  <link rel="stylesheet" href="/static/stylesheets/normalize.css" />
  <link rel="stylesheet" href="/static/stylesheets/foundation.css" />
  <link rel="stylesheet" href="/static/stylesheets/styles.css" />
  
  <script src="/static/javascripts/modernizr.js"></script>
</head>
<body>

<div class="row">
  <div class="large-12">
  
  {{ content }}
  
  </div>
</div>

	<script src="/static/javascripts/jquery.js"></script>
	<script src="/static/javascripts/foundation.js"></script>
	<script src="/static/javascripts/foundation.reveal.js"></script>

</body>
</html>
