<!doctype html>
<html>
<head>
  <title>The Space Party {% if page.title %}| {{ page.title }}{% endif %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="static/images/favicon.png" type="image/x-icon" />
  <link rel="stylesheet" href="static/stylesheets/normalize.css" />
  <link rel="stylesheet" href="static/stylesheets/foundation.css" />
  <link rel="stylesheet" href="static/stylesheets/styles.css" />
  
  <script src="static/javascripts/modernizr.js"></script>
</head>
<body>
<nav>
</nav>
<div class="body-wrapper">  
  {{ content }}
</div>
<footer>
  <div class="row">
    <div class="small-12 columns">
      <ul class="inline-list">
        {% for item in site.footer %}
        <li><a href="{{ item.href }}">{{ item.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</footer>

	<script src="static/javascripts/jquery.js"></script>
	<script src="static/javascripts/foundation.js"></script>
	<script src="static/javascripts/foundation.reveal.js"></script>

  <script>
  $(document).ready(function() {
    $('.body-wrapper').css('min-height', '' + ($(window).height()-100) + 'px');
  });
  
  </script>

</body>
</html>
